<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.horcrux.glowiq"> <!-- Ensure this matches your app package -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="GlowIQ"
        android:theme="@style/LaunchTheme">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Required for file storage operations -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.horcrux.glowiq.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="flutterEmbedding"
                android:value="2"
                android:name="androidx.core.content.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

    </application>

</manifest>
